.box{
    
    border: 2px solid rgb(42, 183, 238);
    width: 80%;
    background-color: aliceblue;
    height: 400px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
}

.food{
    width: 300px;
    margin: 10px;
    border-radius: 60px;
}

.btn{
    padding: 10px 15px;
    background-color: teal;
    color: whitesmoke;
    margin-left: 75%;
    cursor: pointer;

}

.red{
    color: rgb(207, 3, 3);
}
.gray{
    color: gray;
}

.green{
    background-color: greenyellow;
    color: whitesmoke;
    font-weight: bolder;
    width: 40px;
    color: yellow;
    height: 30px;
    text-align:center;
    cursor: pointer;
    border-radius: 5px;
}

.content{
    display: flex;
     
}

.vote{
    margin-left: 50%;
     width: 300px;
  
}

.left{
  
  width: 400px;
}

.choose{
    padding: 10px 15px;
    margin: 0px 5px 10px 5px;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    border: none;
    color: navy;
    font-weight: bold;
}